:root {
    --border-radius: 7px;
}

* {
    box-sizing: border-box;
}

body, html {
    background-color: #888;
    font-family: Verdana, serif;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    max-width: 200px;
    width: 100%;
    margin: 10px;
    font-size: 50px;
    /*border: 2px dashed red;*/
    border-radius: var(--border-radius);
    background-color: #efefef;
}

.btn {
    border: none;
    border-radius: var(--border-radius);
    min-width: 100px;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: 0 5px rgba(0,0,0,0.15);
}

.btn:hover {
    background-color: rgba(255,0,0,0.50);
    color: #fff;
}

.btn:active {
    box-shadow: 0 2px rgba(0,0,0,0.15);
    transform: translateY(4px);
}

.btn-off {
    border: none;
    border-radius: var(--border-radius);
    min-width: 100px;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: 0 5px rgba(0,0,0,0.15);
}

.btn-off:hover {
    background-color: aqua;
}

.btn-off:active {
}
